.kpr_section {
    display: flex;
    padding: 160px 160px 0px 160px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        align-self: stretch;

        h1 {
            color: #1f1f1f;
            text-align: center;
            font-family: 'Geomanist';
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        p {
            color: var(--Carbon, #4D5858);
            text-align: center;
            font-family: 'Geomanist';
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .option_wrapper {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        width: 100%;

        .each-option {
            opacity: 0.5;
            display: flex;
            height: 360px;
            padding: 40px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;

            img {
                width: 40px;
                height: auto;
            }

            .title-subtitle {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                h1 {
                    color: var(--White, #FFF);
                    font-family: 'Geomanist';
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                p {
                    color: var(--White, #FFF);
                    font-family: 'Geomanist';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .small-benefit_wrapper {
                display: flex;
                align-items: flex-end;
                align-content: flex-end;
                gap: 8px;
                align-self: stretch;
                flex-wrap: wrap;

                .each-small-benefit {
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    border: 1px solid var(--White, #FFF);

                    p {
                        color: var(--White, #FFF);
                        font-family: 'Geomanist';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .each-option:hover {
            cursor: pointer;
        }

        .active {
            opacity: 1;
            border-bottom: 12px solid var(--OCBC-Red, #E30613);
            box-shadow: 0px 8px 16.9px 0px rgba(227, 6, 19, 0.32);
        }
    }
}

@media screen and (max-width: 1440px){
    .kpr_section {
        // display: flex;
        padding: 100px 100px 0px 100px;
        // flex-direction: column;
        // align-items: center;
        gap: 32px;
    
        .heading {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 4px;
            // align-self: stretch;
    
            h1 {
                // color: #1f1f1f;
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 40px;
                // font-style: normal;
                // font-weight: 500;
                // line-height: normal;
            }
    
            p {
                // color: var(--Carbon, #4D5858);
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 20px;
                // font-style: normal;
                // font-weight: 400;
                // line-height: normal;
            }
        }
    
        .option_wrapper {
            // display: flex;
            // align-items: flex-start;
            gap: 24px;
            // width: 100%;
    
            .each-option {
                // opacity: 0.5;
                // display: flex;
                // height: 360px;
                padding: 32px;
                // flex-direction: column;
                // justify-content: flex-end;
                // align-items: flex-start;
                // gap: 20px;
                // flex: 1 0 0;
    
                img {
                    width: 36px;
                    // height: auto;
                }
    
                .title-subtitle {
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: flex-end;
                    // align-items: flex-start;
                    // gap: 8px;
                    // align-self: stretch;
    
                    h1 {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 28px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    p {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 20px;
                        // font-style: normal;
                        // font-weight: 400;
                        // line-height: normal;
                    }
                }
    
                .small-benefit_wrapper {
                    // display: flex;
                    // align-items: flex-end;
                    // align-content: flex-end;
                    // gap: 8px;
                    // align-self: stretch;
                    // flex-wrap: wrap;
    
                    .each-small-benefit {
                        // display: flex;
                        // padding: 8px 12px;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 10px;
                        // border-radius: 6px;
                        // border: 1px solid var(--White, #FFF);
    
                        p {
                            // color: var(--White, #FFF);
                            // font-family: 'Geomanist';
                            // font-size: 16px;
                            // font-style: normal;
                            // font-weight: 400;
                            // line-height: normal;
                        }
                    }
                }
            }
    
            .each-option:hover {
                cursor: pointer;
            }
    
            .active {
                // opacity: 1;
                // border-bottom: 12px solid var(--OCBC-Red, #E30613);
                // box-shadow: 0px 8px 16.9px 0px rgba(227, 6, 19, 0.32);
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .kpr_section {
        // display: flex;
        padding: 100px 60px 0px 60px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
    
        .heading {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 4px;
            // align-self: stretch;
    
            h1 {
                // color: #1f1f1f;
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 40px;
                // font-style: normal;
                // font-weight: 500;
                // line-height: normal;
            }
    
            p {
                // color: var(--Carbon, #4D5858);
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 20px;
                // font-style: normal;
                // font-weight: 400;
                // line-height: normal;
            }
        }
    
        .option_wrapper {
            // display: flex;
            // align-items: flex-start;
            gap: 24px;
            // width: 100%;
    
            .each-option {
                // opacity: 0.5;
                // display: flex;
                // height: 360px;
                padding: 32px;
                // flex-direction: column;
                // justify-content: flex-end;
                // align-items: flex-start;
                // gap: 20px;
                // flex: 1 0 0;
    
                img {
                    width: 36px;
                    // height: auto;
                }
    
                .title-subtitle {
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: flex-end;
                    // align-items: flex-start;
                    // gap: 8px;
                    // align-self: stretch;
    
                    h1 {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 28px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    p {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 20px;
                        // font-style: normal;
                        // font-weight: 400;
                        // line-height: normal;
                    }
                }
    
                .small-benefit_wrapper {
                    // display: flex;
                    // align-items: flex-end;
                    // align-content: flex-end;
                    // gap: 8px;
                    // align-self: stretch;
                    // flex-wrap: wrap;
    
                    .each-small-benefit {
                        // display: flex;
                        // padding: 8px 12px;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 10px;
                        // border-radius: 6px;
                        // border: 1px solid var(--White, #FFF);
    
                        p {
                            // color: var(--White, #FFF);
                            // font-family: 'Geomanist';
                            // font-size: 16px;
                            // font-style: normal;
                            // font-weight: 400;
                            // line-height: normal;
                        }
                    }
                }
            }
    
            .each-option:hover {
                cursor: pointer;
            }
    
            .active {
                // opacity: 1;
                // border-bottom: 12px solid var(--OCBC-Red, #E30613);
                // box-shadow: 0px 8px 16.9px 0px rgba(227, 6, 19, 0.32);
            }
        }
    }
}

@media screen and (max-width: 810px){
    .kpr_section {
        // display: flex;
        padding: 100px 40px 0px 40px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
    
        .heading {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 4px;
            // align-self: stretch;
    
            h1 {
                // color: #1f1f1f;
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 32px;
                // font-style: normal;
                // font-weight: 500;
                // line-height: normal;
            }
    
            p {
                // color: var(--Carbon, #4D5858);
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 18px;
                // font-style: normal;
                // font-weight: 400;
                // line-height: normal;
            }
        }
    
        .option_wrapper {
            // display: flex;
            // align-items: flex-start;
            gap: 16px;
            // width: 100%;
    
            .each-option {
                // opacity: 0.5;
                // display: flex;
                height: 320px;
                padding: 24px;
                // flex-direction: column;
                // justify-content: flex-end;
                // align-items: flex-start;
                gap: 16px;
                // flex: 1 0 0;
    
                img {
                    width: 32px;
                    // height: auto;
                }
    
                .title-subtitle {
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: flex-end;
                    // align-items: flex-start;
                    // gap: 8px;
                    // align-self: stretch;
    
                    h1 {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 24px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    p {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 18px;
                        // font-style: normal;
                        // font-weight: 400;
                        // line-height: normal;
                    }
                }
    
                .small-benefit_wrapper {
                    // display: flex;
                    // align-items: flex-end;
                    // align-content: flex-end;
                    // gap: 8px;
                    // align-self: stretch;
                    // flex-wrap: wrap;
    
                    .each-small-benefit {
                        // display: flex;
                        padding: 6px 10px;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 10px;
                        // border-radius: 6px;
                        // border: 1px solid var(--White, #FFF);
    
                        p {
                            // color: var(--White, #FFF);
                            // font-family: 'Geomanist';
                            // font-size: 16px;
                            // font-style: normal;
                            // font-weight: 400;
                            // line-height: normal;
                        }
                    }
                }
            }
    
            .each-option:hover {
                cursor: pointer;
            }
    
            .active {
                // opacity: 1;
                border-bottom: 8px solid var(--OCBC-Red, #E30613);
                // box-shadow: 0px 8px 16.9px 0px rgba(227, 6, 19, 0.32);
            }
        }
    }
}

@media screen and (max-width: 560px){
    .kpr_section {
        // display: flex;
        padding: 40px 16px 0px 16px;
        // flex-direction: column;
        // align-items: center;
        // gap: 32px;
    
        .heading {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 4px;
            // align-self: stretch;
    
            h1 {
                // color: #1f1f1f;
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 28px;
                // font-style: normal;
                // font-weight: 500;
                // line-height: normal;
            }
    
            p {
                // color: var(--Carbon, #4D5858);
                // text-align: center;
                // font-family: 'Geomanist';
                font-size: 16px;
                // font-style: normal;
                // font-weight: 400;
                // line-height: normal;
            }
        }
    
        .option_wrapper {
            // display: flex;
            // align-items: flex-start;
            gap: 12px;
            // width: 100%;
    
            .each-option {
                // opacity: 0.5;
                // display: flex;
                height: 160px;
                padding: 16px;
                // flex-direction: column;
                // justify-content: flex-end;
                // align-items: flex-start;
                gap: 8px;
                // flex: 1 0 0;
    
                img {
                    width: 26px;
                    // height: auto;
                }
    
                .title-subtitle {
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: flex-end;
                    // align-items: flex-start;
                    // gap: 8px;
                    // align-self: stretch;
    
                    h1 {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 20px;
                        // font-style: normal;
                        // font-weight: 500;
                        // line-height: normal;
                    }
    
                    p {
                        // color: var(--White, #FFF);
                        // font-family: 'Geomanist';
                        font-size: 16px;
                        // font-style: normal;
                        // font-weight: 400;
                        // line-height: normal;
                    }
                }
    
                .small-benefit_wrapper {
                    display: none;
                    // align-items: flex-end;
                    // align-content: flex-end;
                    // gap: 8px;
                    // align-self: stretch;
                    // flex-wrap: wrap;
    
                    .each-small-benefit {
                        // display: flex;
                        padding: 6px 10px;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 10px;
                        // border-radius: 6px;
                        // border: 1px solid var(--White, #FFF);
    
                        p {
                            // color: var(--White, #FFF);
                            // font-family: 'Geomanist';
                            font-size: 14px;
                            // font-style: normal;
                            // font-weight: 400;
                            // line-height: normal;
                        }
                    }
                }
            }
    
            .each-option:hover {
                cursor: pointer;
            }
    
            .active {
                // opacity: 1;
                border-bottom: 6px solid var(--OCBC-Red, #E30613);
                // box-shadow: 0px 8px 16.9px 0px rgba(227, 6, 19, 0.32);
            }
        }
    }
}