.footer_section {
    background-color: #E30613;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: var(--White, #FFF);
        font-family: 'Geomanist';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}